
.Home-header{
font-size: 50px;
font-weight: bold;
font-family: Helvetica;
color: #29c0da;
text-align: center;
background-color: #eff0f1;

}
.Home-link{
font-size: 30px;
font-weight: bold;
font-family: Helvetica;
color: #76d0ad;
text-align: center;
background-color: #eff0f1;
}
